@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1663775224015') format('truetype');

  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 25px;
    color: white;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-weixing:before {
    content: "\e632";
  }
  
  .icon-QQ:before {
    content: "\e882";
  }

  