@tailwind base;
@tailwind components;
@tailwind utilities;
#overText{
    overflow:hidden; /* 超出隐藏 */
    text-overflow:ellipsis; /* 文本超出呈现方式：省略号 */
    display:-webkit-box; /* 盒模型 */
    -webkit-line-clamp:3; /* 限制文本行数 */
    -webkit-box-orient:vertical; /* 盒内子元素布局方向 */

}
.el-loading-mask {
  z-index: 1!important;
}
.md-editor-footer{
    height: 40px!important;
    align-items: center;
}
.md-editor-footer-left{
    display: flex;
    align-items: center;
}
.md-editor-fullscreen{
    z-index: 1!important;
}
.el-divider{
    margin:4px 0!important;
}
.md-editor-catalog-active{
    position:relative;
 
}
.el-calendar__body{
    padding:5px 20px 15px!important;
}
.el-calendar-table .el-calendar-day{
    height: 40px !important;
    text-align:center;
}
.md-editor-catalog-active:before{
    content: "";
    position: absolute;
    top: 6px;
    left: -2px;
    margin-top: 8px;
    width: 4px;
    height: 16px;
    background: #1e80ff;
    border-radius: 0 4px 4px 0;
}
.md-editor-catalog-link span:hover{
    color:#007fff!important;
    background-color:#dee3ed;
    border-radius:4px;
}
.md-editor-catalog-active>span{
    color:#007fff!important;
    background-color:#eeeeee;
    border-radius:4px;
}
.md-editor-catalog-link span{
    line-height:30px;
    padding-left:4px
}